<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lx.shiro.dao.RoleDao">

    <resultMap id="ResultMap" type="Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="companyId" column="company_id"/>
        <collection property="permissions"
                    column="id"
                    javaType="ArrayList"
                    select="cn.lx.shiro.dao.PermissionDao.findPermissionsByRoleId">
        </collection>
    </resultMap>


    <select id="findRolesByUserId" resultMap="ResultMap">
    select * from pe_role where id in (
        select role_id from  pe_user_role where user_id =#{userId}
    )
    </select>




</mapper>
